@font-face {
    font-family: 'PixelifySans-VariableFont';
    src: url(PixelifySans-VariableFont_wght.ttf);
}

div {
    color: #292929;
    text-align: center;
}

div p {
    font-family: 'PixelifySans-VariableFont';
    font-size: 2em;
}

.SidebySide {
    display: flex;   
    text-align: center;
    margin-left: 100px;
}

.SidebySide img {
    background-color: #c4c4c4;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin: 20px;
    border: solid;
}

.SidebySide h1 {
    background-color: #c4c4c4;
    padding: 20px;
    margin: 20px;
    border: solid;

    font-family: 'PixelifySans-VariableFont';
    font-size: 5em;
}
