@font-face {
    font-family: font;
    src: url("SpaceGrotesk-VariableFont_wght.ttf")
}

* {
    padding: 0;
    margin: 0;

    font-family: font;
}

body {
    background-color: #17052b;
}

.Page {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
}

.Title {
    font-size: 90px;
    text-align: center;
    
    margin-top: 15px;
    margin-bottom: 15px;

    color: rgb(150, 184, 204);
}

.Solid {
    border-top: 3px solid #abdeff;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Section {
    border-radius: 20px;
    border-color: #abdeff;
    border-style: outset;
    border-width: 5px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    
    background-color: #291168;

    color:rgb(150, 184, 204);;
}

.CodeSegment {
    border-radius: 20px;
    border-left: 15px solid #e6d3ff;
    padding: 20px;
    margin: 20px;
    background-color: #a08db8;

    font-size: 22px;
    word-wrap: break-word;
    color: rgb(127, 79, 146);;
}

#CodeTitle {
    padding: 15px;

    font-size: 50px;

    text-align: center;
}

#CodeTitle2{
    margin: 20px;
    padding: 5px;

    font-size: 30px;
}

#CodeDesc {
    margin: 20px;
    padding: 5px;

    font-size: 30px;

    line-height: 1.7;
}

#GridImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* First section with register forms */
.FormContainer {
    border-radius: 20px;
    border-left: 15px solid #e6d3ff;
    padding: 20px;
    margin: 20px;
    background-color: #a08db8;

    font-size: 22px;
    word-wrap: break-word;
    color: rgb(127, 79, 146);
}

.FormContainer > #FormTitle {
    text-align: center;
    align-items: stretch;
}

.Forms {
    display: flex;
    flex-direction: column;
}

.Forms input {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 55px;
    width: 100%;

    font-size: 36px;
    
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #291168;
    background-color: #e9e0f5;
}

.FormContainer #submit {
    margin-top: 10px;
    height: 35px;
    width: 80px;

    font-size: 19px;

    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #291168;
    background-color: #e9e0f5;
}

.Green {
    color:green;
}

.CodeGreen {
    color: #426931;
}

.CodeGreen2{
    color: #9ebe91;
}

.CodePurple {
    color: #71488a;
}

.CodeYellow {
    color: #abad2c
}

.indent {
    text-indent: 50px;
}

.indent2 {
    text-indent: 100px;
}

.indent3 {
    text-indent: 150px;
}

.indent4 {
    text-indent: 200px;
}

.Navbar {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #291168;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(150, 184, 204);
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

.Navbar li {
    display: inline;
    padding:5px;
}

.Navbar li a {
    color:rgb(150, 184, 204);
    font-size: 30px;
    text-decoration: none;
}

.Navbar li a:hover {
    color:rgb(111, 181, 190);
}